/* bordas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*o corpo  */
   body {
  font-family: Arial, sans-serif;             
  line-height: 1.6; 
  background-color: #f4f4f4; 
  color: #333333;
}

   .container {
  width: 80%; 
  margin: 0 auto;
  
}

/* o cabeçalho */
   header {
  background-color: #76B900; 
  color: #000;               
  padding: 20px;                   
  text-align: center;
}

/* titul*/
  header h1 {
  margin-bottom: 10px;
}

/* organiza lista no topo */
  nav ul li {
  display: inline; /*inten na  linha */
  margin: 19px; /*  margem */
}

/* links dentro dos itens de lista na navegação */
  nav ul li a {
  color: #fff; 
  text-decoration: none; 
}

/*separa conterner*/
  .hero h2 {
  font-size: 3em; /* tamanho da fonte */
}

   /*ceções do site */
  section {
  background-color: #1f0404; 
  padding: 20px; 
  margin: 20px  ; 
  border-radius: 8px; /* canto  */
  box-shadow: 10px; /* sombra */
}


/* imagens  */
  section img {
  max-width: 100%;
  height: auto; 
  margin-bottom: 20px; 
}

/*  rodapé */
  footer {
  text-align: center; 
  margin-top: 20px; 
  padding: 20px; 
  background-color: #333; 
  color: #fff;
  border-radius: 8px; 
}
/*sepacamento secao bem vindo */
section {
  background-color: #fff;
  padding: 20px;
  margin: 100px ; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(6, 42, 90, 0.1);
}